html, body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

#navbar{
    top:0;
    position:fixed;
    width:100%;
    text-align: center;
    background-color: #163172;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#navbar a{
    padding:0px 20px;
}

#navbar a:hover{
    background-color:#D6E4F0;
    color:black;
}

a{
    text-decoration: none;
    color: white;
}

#welcome-section{
    height:100vh;
    background-color:#1E56A0;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

#projects{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    background-color: #D6E4F0;
}


.project-tile{
    max-width:500px;
    margin:5%;
    text-align: center;
}

img{
    width:100%;
    height:auto;
    border-radius: 5px;
}

#contact{
    background-color:#F6F6F6;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#profile-link{
    color:black;
}


#contact a{
    padding:20px;
}

#contact a:hover{
    color:white;
    background-color:#163172;
}

h1{
    font-size:3rem;
}



@media only screen and (min-width:1250px){

    .prolinks{
        margin:75px;
    }
}
