#welcome-section{
    height:100vh;
    background-color:#1E56A0;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

#projects{
    background-color: #D6E4F0;
}

#contact{
    background-color:#F6F6F6;
}

#navbar{
    top:0;
    position:fixed;
    width:100%;
    text-align: center;
    background-color: #163172;
}

html, body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

#projects{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.prolinks{
    width:300px;
    margin:100px;
}

img{
    width:100%;
    height:auto;
}

a{
    text-decoration: none;
    color: white;
}





@media only screen and (max-width:1200px){

}
